In [4]:
import pandas as

In [51]:
from mysql.connector import MySQLConnection, Error
import pandas as pd

df = pd.DataFrame()
def query_with_fetchone():
    try:
        connection = mysql.connector.connect(user='brett', 
                                             password='BrettTully#2023',
                                             host='r2klabs.com',
                                             database='sensor')
        cursor = connection.cursor()
        cursor.execute("SELECT * FROM rpisense order by sensor_date DESC;")
        rows = cursor.fetchall()
        print('Total Row(s):', cursor.rowcount)
         #only print head
        title = [i[0] for i in cursor.description]
        print(title)
        #for row in rows:
         #   print(row)
        global df
        df = pd.concat([df,pd.DataFrame(columns = list(title))])
        df = pd.DataFrame(rows)

    except Error as e:
        print(e)

    finally:
        cursor.close()
        connection.close()

query_with_fetchone()
df

Total Row(s): 719467
['device', 'sensor_date', 'temp', 'humidity']

            0                   1      2     3
0       P006B 2023-03-22 17:32:22  69.44  47.8
1        P002 2023-03-22 17:32:22  66.20  66.2
2        P004 2023-03-22 17:32:21  68.00  48.1
3        P002 2023-03-22 17:32:20  66.20  66.2
4       P006B 2023-03-22 17:32:20  69.44  47.8
...       ...                 ...    ...   ...
719462   P002 2023-03-16 13:48:57  65.48  51.4
719463   P002 2023-03-16 13:48:54  65.48  51.4
719464   P002 2023-03-16 13:48:52  65.48  49.8
719465   P002 2023-03-16 13:47:38  65.48  49.7
719466   P002 2023-03-16 13:47:36  65.48  49.7

[719467 rows x 4 columns]

In [ ]:
from datetime import date
import calendar

for d in df[1]:
    df['weekday'] = df[1].dt.weekday
    df['date'] = d.date()
    df['time'] = d.time()
    
print(df)

In [ ]:
import datetime

# Dictionary of occupied times for each classroom and day of the week
occupied_times = {
    "P002": {
        "Monday": ["08:00:00", "10:00:00", "12:00:00", "14:00:00", "16:00:00"],
        "Tuesday": ["09:00:00", "11:00:00", "13:00:00", "15:00:00", "17:00:00"],
        "Wednesday": ["10:00:00", "12:00:00", "14:00:00", "16:00:00", "18:00:00"],
        "Thursday": ["11:00:00", "13:00:00", "15:00:00", "17:00:00", "19:00:00"],
        "Friday": ["12:00:00", "14:00:00", "16:00:00", "18:00:00", "20:00:00"]
    },
    "P004": {
        "Monday": ["09:00:00", "11:00:00", "13:00:00", "15:00:00", "17:00:00"],
        "Tuesday": ["10:00:00", "12:00:00", "14:00:00", "16:00:00", "18:00:00"],
        "Wednesday": ["11:00:00", "13:00:00", "15:00:00", "17:00:00", "19:00:00"],
        "Thursday": ["12:00:00", "14:00:00", "16:00:00", "18:00:00", "20:00:00"],
        "Friday": ["13:00:00", "15:00:00", "17:00:00", "19:00:00", "21:00:00"]
    }
    "P004": {
        "Monday": ["09:00:00", "11:00:00", "13:00:00", "15:00:00", "17:00:00"],
        "Tuesday": ["10:00:00", "12:00:00", "14:00:00", "16:00:00", "18:00:00"],
        "Wednesday": ["11:00:00", "13:00:00", "15:00:00", "17:00:00", "19:00:00"],
        "Thursday": ["12:00:00", "14:00:00", "16:00:00", "18:00:00", "20:00:00"],
        "Friday": ["13:00:00", "15:00:00", "17:00:00", "19:00:00", "21:00:00"]
    }
}

# Get the current day of the week, time, and classroom number
now = datetime.datetime.now()
day_of_week = now.strftime("%A")
time = now.strftime("%H:%M:%S")
classroom_number = "101"  # Replace with the classroom number you want to check

# Check if the current time and day of the week is in the list of occupied times for the classroom
is_occupied = False
if classroom_number in occupied_times:
    if day_of_week in occupied_times[classroom_number]:
        is_occupied = time in occupied_times[classroom_number][day_of_week]

# Print the result
print(f"The classroom {classroom_number} is occupied:", is_occupied)

In [36]:
df = DataFrame()

NameError: name 'DataFrame' is not defined